.wrap-default-layout {
  height: 100vh;
  background-color: #F2F4F6;
  width: 100%;
  position: relative;
}

.wrap-default-layout>.header {
  background-color: white;
  width: 100%;
  right: 0;
  left: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0px 4px 4px 0px #052A4914;
  padding: 18px 28px;
  height: 60px;
  align-items: center;
  height: 4.6rem;
}

.wrap-default-layout>.sidebar {
  background-color: #052A49;
  position: fixed;
  height: 100%;
  width: 230px;

  >.main {
    height: 90%;
    padding-top: 80px;

    >.wrap-menu.active {
      background-color: rgba(8, 69, 119, 1);
      border-left: 3px solid white;
    }
  }

  >.footer {
    border-top: 1px solid #E0E0E0;
    height: 10%;
    padding: 16px;
  }
}

.wrap-default-layout>.main {
  height: 100%;
  padding: 5.5rem 16px 0 250px;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}